/////////////////////////////////////////////////////////以下為demo範例///
// 首頁區塊設定

// more按鈕
a.more {
    display: block;
    width: 10em;
    text-align: center;
    height: 2.5em;
    margin: .5em auto .5em;
    line-height: 2.5;
    color: $primaryColor;
    border: 1px solid $primaryColor;
    text-align: center;
    overflow: hidden;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    &:after {
        content: "";
        width: 12px;
        height: 12px;
        border: 2px solid #FFF;
        transform: rotate(45deg);
        position: absolute;
        right: -10px;
        top: 14px;
        border-left: none;
        border-bottom: none;
        transition: .3s ease-out;
    }
    &:before {
        content: "";
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: $primaryColor;
        -webkit-transform: scale(0);
        transform: scale(0);
        -webkit-transition-property: transform;
        transition-property: transform;
        -webkit-transition-duration: 0.2s;
        transition-duration: 0.2s;
        -webkit-transition-timing-function: ease-out;
        transition-timing-function: ease-out;
    }

    &:hover,
    &:focus,
    &.active {
        color: white;
        &:before {
            -webkit-transform: scale(1);
            transform: scale(1);
        }
        &:after { right: 15px; }
    }
}

// 範例：
// .demosection {
//     [class^="col"] {
//         border: 2px solid #FFF;
//         background: #DEDEDE;
//     }
// }
// 首頁輪播
.mpSlider {
    width: 100%;
    padding-bottom: 3em;
    @include gutter(0);
    .img-container {
        @include aspect-ratio(5, 2);
    }
}
// 廣告輪播
.adSlider {
    @include gutter(120px);
    margin-bottom: 20px;

    @include screen('mobile') {
        @include gutter();
    }

    .slick-dots {
        bottom: -42px;
        li{
            // margin: 0 6px;
            width: 12px;
            height: 12px;
            &.slick-active{
                button{
                    width: 12px;
                    height: 12px;
                    &:before {
                        background: #222;
                    }
                }
            }
        }
    }

    .slick-prev {
        background: url(../vendor/slick/icon_arrow_left_thin.png) no-repeat center center;
        background-size: 80%;
        left: 15px;
        @include screen('mobile'){
            left: -20px;
        }
    }
    .slick-next {
        background: url(../vendor/slick/icon_arrow_right_thin.png) no-repeat center center;
        background-size: 80%;
        right: 15px;
        @include screen('mobile'){
            right: -20px;
        }
    }
    .img-container {
        width: 165px;
        height: 55px;
        // margin: 0px 15px;
        margin: 0 auto;
        a {
            display: block;
            text-align: center;
            img { margin: 0 auto; }
        }
        &:focus {
            &:before {
                content: "";
                position: absolute;
                z-index: 9;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                box-shadow: 0 0px 0px 3px $primaryColor inset;
            }
        }
    }

    a{
        padding: 2px;
        .caption{
            display: block;
            font-size: 87.5%;
            padding: 10px 1.8em;
            line-height: 1.5 !important;
            color: #535353;
            @include text-line(2,26px);
        }
    }
}

// 未轉YT的舊版影片，跑版修正
#videoPlayer .container{
    padding: 0 0 !important;

    >div{ margin: auto; }
}

.mp{
    // 左側背景設定
    max-width: 1200px;
    background: url(../images/img-hero-2_mp.jpg) left top no-repeat;
    background-size: 620px auto;
    // background-size: 460px auto;
    background-attachment: fixed;
    .menu,
    .megamenu {
        .slogen{
            width: 531px;
            height: 322px;
            top: 80px;
            right: 104px;
            left: auto;
            background: url(../images/slogen_mp.png) 50% 50% no-repeat;
        }

        // hero 背景 2：光料
        background: none;

        // hero 背景 1：建築
        padding-top: 440px;  // 515 - 76
        &:before{
            background: url(../images/img-hero-1A_mp.jpg) right -2px bottom 0 no-repeat;
            height: 515px;
        }

        @include screen('tablet') {
            margin-top: 0;
            padding-top: 95px;
        }

        @include screen('xs_mobile') {
            padding-top: 60px;
        }
    }

    // 手機版 hero
    .mobile_hero{
        display: none;
        background: url(../images/img-hero-1A_mp.jpg) 50% 50% no-repeat;
        padding: 5em 0;
        .slogen{
            width: 450px;
            height: 270px;
            margin: auto;
            background: url(../images/slogen_mp.png) 50% 50% no-repeat;
            background-size: contain;
        }

        @include screen('tablet') {
            display: block;
        }
        @include screen('xs_mobile') {
            .slogen{
                width: calc(100% * .9);
            }
        }
    }

    .main{
        padding-left: 5.1em;
        .container{
            // padding: 1.25em 3em 4em;
            padding-top: 2em;
            padding-bottom: 2em;
        }

        .main_title{
            text-shadow: 0 0 30px #fff, 2px 0 30px #fff, 0 2px 30px #fff,
                         0 0 50px #fff, 0 0 60px #fff, 0 0 70px #fff,
                         0 0 80px #fff, 0 0 90px #fff, 0 0 100px #fff;
        }
    }

    .caption{
        padding: 0 1.75em;
        .title{
            font-size: 125%;
            line-height: 32px;
            &:before { display: none; }
        }
        p{}
        time{}

        ul{
            @include li-reset;
            &.video_info{}
        }

        @include screen('mobile'){
            padding: 1.75em 0 0;
        }
    }

    // header
    .header {
        >.container {
            background: none;
        }
        .navigation{
            width: calc(100% - 72px);
            background: #fff; // 遮蔽左側背景
        }
    }

    // mp 第一欄
    .fixMT{
        margin-top: -30px;  // 修正 menu 的 marging-bottom = 30
        div{
            .caption{
                .title{
                    padding: 0;
                    margin-top: 0;
                    &:before { display: none; }
                }
            }
        }

        @include screen('tablet'){
            margin-top: 0;
        } 
    }
    // 底圖背景
    .bgset{
        .container{
            background: url(../images/bg-content.png) right top no-repeat, #fff;
            // padding: 1.25em 3em 4em;
            padding: 2em 3em;
        }
    }
    // 兩欄 YT
    .mp_col-2_video{
        // position: relative;
        // &:after{
        //     content: '';
        //     width: 900px;
        //     height: 100%;
        //     position: absolute;
        //     background: #fff;
        //     top: 0;
        //     right: 0;
        //     z-index: -1;
        // }
        .container{
            background: rgba(255,255,255,1);
            // background: rgba(255,255,255,0);
        }
        .embed-container { overflow: visible; }
        .caption{
            // position: absolute;
            background: #f7f8f8;
            display: block;
            // width: 90%;
            // left: 50%;
            // margin-left: -45%;
            // bottom: -80px;

            margin-top: 1em;
            position: relative;
            // 標題上方線條
            &:before{
                content: '';
                display: block;
                width: 90px;
                height: 3px;
                background: #666;
                position: absolute;
                top: 2em;
                left: 1.75em;
            }

            padding: 2em 1.75em 1em;
            .title{
                padding-top: 0;
                // @include text-line(2,32px);
            }

            opacity: 1;
            z-index: 1;
            transition: all 300ms ease-in;
        }
        .col{
            @include gutter(6em);
            // padding-bottom: 80px;   //for caption bottom: -60px;

            &:hover{
                // .caption{
                //     opacity: 0;
                //     z-index: -1;
                // }
            }
        }
    }

    // AD slider
    .AD_bgset{
        background: #eee;
        padding: 0 5em 4em;
        margin-left: -5.1em;
    }

    @include screen('tablet'){
        .main{
            padding-left: 0;
        }

        .AD_bgset{
            margin-left: 0;
        }
    }
}







