@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
* {
    box-sizing: border-box;
}

em, dfn{ font-style: normal;}

html {
    scroll-behavior: smooth;
}
body {
    background: #313131;
    &.noscroll {
        position: static !important;
        width: 100%;
        height: 100%;
        overflow: hidden !important;
        overflow-y: hidden !important;
        margin: 0;
        padding: 0;
    }
}

// 最外圍預設為100%
.wrapper {
    width: 100%;
    margin: 0px auto;
    @include screen('mobile') {
        background: #FFF;
        overflow: hidden;
        overflow-y: auto;
    }
}
// 整體共用container樣式，請注意首頁切版頁面的整齊
.container {
    padding: 0;
    margin: 0 auto;
    max-width: $container-max; //請看_variable.scss
}
.main {
    position: relative;
    margin: 0 auto;
    // padding: 1em 0 0 0;

    // 可先設定一個中央區塊最大寬，限制accesskey對齊
    h2 {
        line-height: 1.25em;
    }

    .main_title{
        font-size: 2.25em;
        text-align: center;
        letter-spacing: .1125em;

        dfn{
            letter-spacing: 0;
            font-size:75%;
            font-family: 'Nanum Gothic', sans-serif;
            padding-left: .5em;
        }

        span{
            // border-bottom: 2px solid #000;

            position: relative;
            &:after{
                content: '';
                display: block;
                width: 100%;
                height: 2px;
                background: #222;
                position: absolute;
                left: 50%;
                margin-left: -50%;
                bottom: 10px;
            }
        }

        @include screen('mobile'){
            dfn{
                padding-left: 0;
                display: block;
            }

            span{
                &:after{
                    position: initial;
                    width: 50%;
                    margin-left: 25%;
                }
            }
        }
    }

    .sub_title{
        font-size: 136%;
        color: $secondaryColor;
        margin: 1em 0;
        padding-left: 1em;
        border-left: solid 4px $secondaryColor;
    }

    .coming{
        max-width: 720px;
        margin: auto;
        @include aspect-ratio(16, 9);
    }

    @include screen('tablet'){
        padding-top: 170px;
    }

    @include screen('xs_mobile') {
        padding-top: 136px;
    }

}
////////////////////////////////////////////////////////////
// 為了與首頁區隔，請在內頁加上innerpage ClassName
.innerpage {
    >.container {
        @include gutter(5em); //gutter 代表左右要留白
        padding-top: 2em;
        padding-bottom: 2em;

        display: flex;

        box-shadow: rgba(0, 0, 0, 0.08) -500px -25px 100px -20px,
                    rgba(0, 0, 0, 0.08) 500px 50px 100px -20px;

        background: #fff;

        // 裝飾背景
        position: relative;
        &:before{
            content: '';
            display: block;
            width: 1088px;
            height: 803px;
            background: url(../images/bg-content.png) right top no-repeat;
            position: absolute;
            right: 0;
            top: -30px;
            // z-index: -1;
        }

        @include screen('xs_mobile'){
            @include gutter(3em);
        }
    }
    .center_block {
        flex: none;
        flex-basis: 100%;
        max-width: 100%;

        position: relative; // 將文字內容覆蓋於 裝飾背景
    }
    // .left_block {
    //     flex: none;
    //     flex-basis: 260px;
    //     max-width: 260px;
    //     margin-right: 40px;
    //     &.hidden {
    //         +.center_block {
    //             flex: none;
    //             flex-basis: 100%;
    //             max-width: 100%;
    //         }
    //     }
    //     +.center_block {
    //         flex: auto;
    //         flex-basis: calc(100% - 300px);
    //         max-width: calc(100% - 300px);
    //     }
    //     @include screen('tablet') {
    //         display: none;
    //         +.center_block {
    //             flex: none;
    //             flex-basis: 100%;
    //             max-width: 100%;
    //         }
    //     }
    // }
    &.small_size {
        font-size: .938em;
    }
    &.large_size {
        font-size: 1.125em;
    }
}
.hidden {
    display: none;
}